body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: black;
}


.post{
    width: 400px;
    height: 570px;
    object-fit: contain;
    object-position: center;
    font-family:'Roboto', sans-serif;
    
}

.post-header{
    display: flex;
    align-items: center;
    width: 400px;
    height: 60px;
    background-color: white;
}

.name{
    margin-top: -25px;
    font-size: smaller;
}

.header1{
    padding: 7px 10px 0 15px;

}

.header2{
     width: 300px;

}

.header3{
    padding-left: 20px;

}

.final{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.iconos{
    align-items:center;
    width: 360px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.iconos i[class="fa-regular fa-bookmark fa-xl"] 
{
    display: flex;
    justify-content: right;
    margin-top: -10px;
    margin-right: -10px;
}


.texto{
    margin-top: 15px;
    font-size: small;
    text-align: justify;
    margin-bottom: 5px;
}

.bold{
    font-weight: bold;

}